<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config />
    <context:component-scan base-package="foo.bar"/>
    <!--<bean id="dao" class="foo.bar.dao.HelloDaoImpl" ></bean>-->
    <!--<bean id="service" class="foo.bar.service.HelloServiceImpl">-->
        <!--<property name="dao" ref="dao"></property>-->
    <!--</bean>-->

    <!--内部bean写法-->
    <bean id="service" class="foo.bar.service.HelloServiceImpl">
        <property name="dao">
            <bean  class="foo.bar.dao.HelloDaoImpl" ></bean>
        </property>
    </bean>
 </beans>